<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Portfólio - Gabriel</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Portfólio Gabriel</h1>
    <p>Sou estudante de Análise e Desenvolvimento de Sistemas e tenho me dedicado a projetos com Python, utilizando bibliotecas como: <br> 
      Pandas, Plotly, Flask, Socket.IO, Tkinter, psycopg2, Simple WebSocket, PyAutoGUI e OpenPyXL. <br>
      Busco sempre aprimorar minhas habilidades em desenvolvimento de software e aplicar soluções práticas em meus projetos.</p>

    <h2>Projetos em Destaque</h2>
      <div class="projeto">
        <h3><a href="https://github.com/gcoutinhoo/Projeto-RAD" target="_blank">Sistema de Notas</a></h3>
        <p>Este projeto é uma aplicação simples de CRUD (Criar, Ler, Atualizar, Deletar) de alunos e notas escolares</p>
        <span class="linguagem">Linguagem: Python com Tkinter e PostgreSQL</span>
        <video controls width="600">
            <source src="../static/sis_notas.mp4" type="video/mp4">
            Seu navegador não suporta vídeo HTML5.
        </video>

        <h3><a href="https://github.com/gcoutinhoo/Jornada-Python/tree/main/Python%20Insights" target="_blank">Inteligência Artificial para Resolução de Problemas</a></h3>
        <p>Implementação de soluções de IA para resolução de problemas com aprendizado de máquina.</p>
        <span class="linguagem">Linguagem: Python com Pandas e Scikit-learn</span>
      </div>
    Link do GitHub

    <footer>
      <p>🔗 <a href="https://github.com/gcoutinhoo" target="_blank">GitHub</a></p>
    </footer>
  </div>
</body>
</html>
